.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

<<<<<<< HEAD
.lh-condensed { line-height: 1.25; }

.btn-group .btn .svg-inline--fa{
    font-size: 1.5rem;
}
||||||| merged common ancestors
.lh-condensed { line-height: 1.25; }
=======
.lh-condensed { line-height: 1.25; }

.modal-header, .modal-footer{
    background-color: #eeeeee;
}

.modal-body{
    background-color: #FAFAFA;
}
>>>>>>> master
